
<div style="font-family: georgia,new york,serif; font-size: 12pt; color: #990000; background-color: #fff9ef; padding: 2em; border: solid 4px #dd0000;">

<img style="margin: 6pt;" src="http://wedding.example.org/static/horizontal-border.png">

<p>Dear {{invitee.first_names}},</p>

<p>Thank you so much for attending our wedding a week ago!
It meant so much to us that you were able to be there to support
us as we entered into this new chapter of our lives.</p>

<p>We thought you might be interested in seeing photos 
of the wedding and reception as they are uploaded by
other guests (and as our photographers make them available).</p>

<p>You can find the current set of photos at:</p>

<p style="margin-left: 5em;"><a href="http://wedding.example.org/photos/{{invitee.invite_code}}/">http://wedding.ab.org/photos/{{invitee.invite_code}}/</a></p>

<p>You may also upload your own photos there for us (and others) to see.
Your login "invite code" for the website is: <tt>{{invitee.invite_code}}</tt></p>

<p>Thank you so much!  It was wonderful to be able to share this with you.</p>

<p>Best wishes,</p>

<p style="margin-left: 5em;">Alyssa and Ben</p>


<img style="margin: 6pt;" src="http://wedding.example.org/static/horizontal-border.png">

</div>

