
<div style="font-family: georgia,new york,serif; font-size: 12pt; color: #990000; background-color: #fff9ef; padding: 2em; border: solid 4px #dd0000;">

<img style="margin: 6pt;" src="http://wedding.example.org/static/horizontal-border.png">

<p>Dear {{invitee.first_names}},</p>

<p>As we approach the date of our wedding, we'd like to provide you
with some updates.</p>

<p>We have updated <a href="http://wedding.example.org/">our
website</a> with information on places to stay and things to do while
in <a href="http://wedding.example.org/venue/MA/">Massachusetts</a>
or <a href="http://wedding.example.org/venue/CA/">California</a>.</p>

<p>If you are planning to travel and attend our wedding in
Massachusetts, you may wish to consider making lodging reservations.
We have obtained a small room block at the Hawthorne Hotel in Salem
(group code "55555"), <b>but reservations must be made prior to
July 26th</b>.  We are also setting up a room block at the Marriott
Boston Cambridge Residence Inn Hotel in Kendall Square in Cambridge
and will post details on that to our website as they become
available.</p>

<p>If you will be visiting from out of
country, <a href="http://wedding.example.org/venue/MA/visa/">you may
wish to start the process of getting a visa, due to long wait times
for interviews</a>.</p>

<p>At any time, you can visit our website to check or update your RSVP status
and contact information:</p>

<p style="margin-left: 5em;"><a href="http://wedding.example.org/rsvp/{{invitee.invite_code}}/">http://wedding.ab.org/rsvp/{{invitee.invite_code}}/</a></p>

<p>Your invite code for the website is: <tt>{{invitee.invite_code}}</tt></p>

<p>As a reminder,
our <a href="http://wedding.example.org/venue/MA/">Massachusetts
wedding and cocktail/dinner reception will be held on Sunday,
September 26, 2258 at the Peabody Essex Museum in Salem,
Massachusetts</a>.  The wedding will begin at 6 p.m. in the Phillips
Library.  Cocktails will follow in the museum at 6:30 p.m., and a
dinner reception will start at 7:30 p.m.</p>

<p>We will also be
hosting <a href="http://wedding.example.org/venue/CA/">a
cocktail/dinner reception on Sunday, October 17th, 2258 at the
Spinnaker in Sausalito, California</a>, starting with cocktails at 4
p.m. with dinner at 5:30 p.m.</p>

<p>Formal invitations will follow.</p>

<p>Best wishes,</p>

<p style="margin-left: 5em;">Alyssa and Ben</p>


<img style="margin: 6pt;" src="http://wedding.example.org/static/horizontal-border.png">

</div>

