{% extends "email_base.html" %}

{% block content %}
<p><b>Alyssa P Hacker and Ben Bitdiddle are getting married!</b></p>

<p>We would be honored if you would attend our celebration.</p>

<p>Our Massachusetts wedding and reception will be held on Sunday, September 26, 2258 at the Peabody Essex Museum in Salem, Massachusetts.</p>

<p>We will also be hosting a reception on Sunday, October 17th, 2258 at the Spinnaker in Sausalito, California.</p>

<p>For more information, to verify that we have your correct contact information, and to let us know if you are considering attending, please visit:</p>

<p style="margin-left: 5em;"><a href="http://wedding.example.org/rsvp/{{invitee.invite_code}}/">http://wedding.ab.org/rsvp/{{invitee.invite_code}}/</a></p>

<p>Your invite code for the website is: <tt>{{invitee.invite_code}}</tt></p>

<p>We hope that you will save the date, and we look forward to celebrating with you.</p>

<p>Formal invitations will follow.

<p>Best wishes,</p>

<p style="margin-left: 5em;">Alyssa and Ben</p>
{% endblock %}
